
/* ---------------------------------
  GENERAL & RESETTING
--------------------------------- */
body {
  font-family: "Arvo", Courier, monospace, Arial;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
}

hr {
  border: 1px solid;
  color: #ccc;
}

a {
  color: #ff6346;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li, li img {
  width: 100%;
}

#wrapper {
  max-width: 90%;
  margin: 30px auto;
}

.separator {
  width: 60%;
  margin: 30px auto 30px;
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* ---------------------------------
  HEADER AND PRESENTATION TEXT
--------------------------------- */
#headerImg {
  width: 100px;
  margin: 0 auto;
}

#headerImg img {
  border-radius: 100%;
  width: 100%;
  height: auto;
}

#title {
  width: 62%;
  margin: 30px auto 0;
  background-color: #ff6346;
  padding: 10px 10px 10px;
}

#title h1 {
  font-family: "Montserrat", Helvetica, Arial;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 100%;
  font-size: 1.8em;
}

#presentation {
  font-size: 1.3em;
  margin: 20px auto 0;
  width: 80%;
  text-align: center;
}

#presentation u {
  font-style: italic;
  letter-spacing: 0.2px;
  background-color: #ff6346;
  color: #fff;
  text-decoration: none;
  padding: 3px;
  display: block;
  margin-left: auto; margin-right: auto;
  width: 260px;
}


/* ---------------------------------
  BODY AND FOOTER
--------------------------------- */
section {
  text-align: left;
  width: 83%;
  margin: 0 auto 0;
  clear: both;
}

#section-about p, #section-social p {
  padding-left: 4px;
  font-size: 1.1em;
}

#section-projects {
  width: 90%;
}

#section-projects li {
  padding: 5%;
  margin-bottom: 30px;
  background-color: #EFEFEF;
  border-radius: 2px;
}

section h2 {
  font-family: "Montserrat", Helvetica, Arial;
  font-weight: 400;
  text-transform: uppercase;
  color: #ff6346;
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

section p {
  margin: 10px 0 10px;
}

section .pTitle {
  font-style: italic;
  margin-bottom: 10px;
  display: inline-block;
  color: black;
  margin: 15px 0 5px;
}

section .ghLink {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
}

#section-social ul {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  font-size: 1em;
}

#section-social ul li {
  background-repeat: no-repeat;
  background-position: 0px center; 
  background-size: 15px;
  padding-left: 25px;
  padding-top: 1px;
  margin-bottom: 5px;
}

#section-social ul #fb {
  background-image: url(../img/fb-logo.png);
}

#section-social ul #ig {
  background-image: url(../img/ig-logo.png);
}

#section-social ul #li {
  background-image: url(../img/li-logo.png);
}

#section-social ul #gh {
  background-image: url(../img/gh-logo.png);
}

footer {
  font-family: "Montserrat", Helvetica, Arial;
  font-weight: 400;
  font-size: 0.8em;
  color: #666;
  line-height: 1.5em;
}

#foot-text {
  margin-top: 5px;
}

#emoji {
  font-size: 1.2em;
}

/* ---------------------------------
  MEDIA QUERIES
--------------------------------- */
@media (min-width: 740px) {
  
  #mobile {
    display: none;
  }

  #wrapper {
    max-width: 100%;
    margin: 0;
  }

  header {
    margin: 70px auto 20px auto;
    width: 520px;
  }

  section {
    width: 500px;
    overflow: auto;
  }

  #section-projects {
    width: 90%;
  }

  .separator {
    clear: both;
    width: 250px;
    margin: 40px auto 40px;
  }

  #title {
    margin-top: 0;
    width: 330px;
  }

  #headerBody {
    padding-top: 5px;
    width: 70%;
    margin-left: 160px;
  }

  #presentation u {
    padding: 4px ;
    width: 275px;
  }

  #headerImg {
    float: left;
    width: 30%;
  }

  #headerImg img {
    width: 100%;
    height: auto;
  }

  #presentation {
    max-width: 450px;
    margin: 0 auto 0;
    font-size: 1.4em;
    overflow: auto;
  }

  #presentation p {
    margin: 15px auto 0;
  }

  #section-projects li {
    padding: 16px;
    width: 30%;
    float: left;
    margin-right: 1.66667%;
    margin-left: 1.66667%;
    margin-bottom: 0;
  }

  #row-2 {
    clear: both;
    display: inline-block;
    margin-top: 30px;
  }

  #row-2 #left {
    margin-left: 18%;;
    margin-right: 2%;
  }

  #row-2 #right {
    margin-right: 18%;
    margin-left: 2%;
  }

  section h2 {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 30px;
  }

  #section-social ul {
    margin-left: 40px;
  }

  footer {
    margin-bottom: 30px;
  }
}