body {
  font-family: "Arvo", Helvetica, Arial;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
}

a {
  color: tomato;
}

#wrapper {
  max-width: 90%;
  margin: 40px auto;
}

#me {
  width: 100px;
  margin: 0 auto;
}

#me img {
  border-radius: 100%;
  width: 100%;
  height: auto;
}

header {
  width: 60%;
  margin: 30px auto 0;
  background-color: tomato;
  padding: 10px 10px 10px;
}

header h1 {
  font-family: "Montserrat", Helvetica, Arial;
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
  font-size: 1.8em;
  
}

#about {
  font-size: 1.3em;
  margin: 20px auto 0;
  width: 80%;
  text-align: center;
}

#separator {
  width: 60%;
  margin: 30px auto 30px;
}

#statement {
  text-align: left;
  width: 83%;
  margin: 0 auto 0;
}

@media (max-width: 740px) {

}