<div id="google-blue" class="inner-project">


	<div class="header">
		
		<a ui-sref="main" class="go-back">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>

		<div class="header-content">
			<h1 style="color: white">Google</h1>
			<span class="project-subtitle" style="color: white">{{ 'GOOGLE_SUBTITLE' | translate }}</span>

			<a class="site-anchor" href="https://cloud.google.com/bigquery/docs/transfer-service-overview">
				<span>{{ 'VISIT' | translate }}</span>
				<i class="fa fa-external-link-square" aria-hidden="true"></i> 
			</a>
		</div>
	</div>
	<div class="content-wrapper">
	<div class="content">

		<p>{{ 'GOOGLE_P1' | translate }}</p>

		<p>{{ 'GOOGLE_P2' | translate }}</p>

		<div class="slider">
			<ul>
				<li>
					<div class="img-container"><img src="img/google1.jpeg"></div>
				</li>
				<li>
					<div class="img-container"><img src="img/porc2.png"></div></li>
				<!-- <li>My last slide</li> -->
			</ul>
		</div>

	</div>
	</div>


</div>