<div id="green" class="inner-project">


	<div class="header">
		
		<a ui-sref="main" class="go-back">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>

		<h1>Porc.co</h1>
		<span class="project-subtitle">{{ 'PORC_SUBTITLE' | translate }}</span>

		<a class="site-anchor" href="http://porc.co">
			<span>{{ 'VISIT' | translate }}</span>
			<i class="fa fa-external-link-square" aria-hidden="true"></i> 
		</a>
	</div>
	<div class="content">

		<p>{{ 'PORC_P1' | translate }}</p>

		<p>{{ 'PORC_P2' | translate }}</p>

		<span class="hint"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ 'SEE_MORE' | translate }}</span>



		<div class="slider">
			<ul>
				<li>
					<div class="img-container"><img src="img/porc1.png"></div>
				</li>
				<li>
					<div class="img-container"><img src="img/porc2.png"></div></li>
				<!-- <li>My last slide</li> -->
			</ul>
		</div>

	</div>


</div>