<div id="porc" class="inner-project">


	<div class="header">
		
		<a ui-sref="main" class="go-back">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>

		<h1>Porc.co</h1>
		<span class="project-subtitle">Expense tracking web app</span>

		<a class="site-anchor" href="http://porc.co">
			<span>VISIT</span>
			<i class="fa fa-external-link-square" aria-hidden="true"></i> 
		</a>
	</div>
	<div class="content">

		<p>After trying most available solutions to finance tracking on the web (and being unsatisfied with a few not-so-little quirks) I finally caved. Having been developing on the web for a while already, I decided to design and develop a full fledged web app on my own, with a focus on delivering a useful, production-ready product with as much attention to detail as possible.</p>

		<p>Porc is the result of that process.</p>

		<span class="hint"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> SEE MORE</span>

	</div>


</div>