<div id="green" class="inner-project">


	<div class="header">
		
		<a ui-sref="main" class="go-back">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>

		<div class="header-content">
			<h1>Processing</h1>
			<span class="project-subtitle">{{ 'PROCESSING_SUBTITLE' | translate }}</span>

			<a class="site-anchor" href="http://github.com/jjcastro/processing-experiments">
				<span>{{ 'VISIT' | translate }}</span>
				<i class="fa fa-external-link-square" aria-hidden="true"></i> 
			</a>
		</div>
	</div>
	<div class="content-wrapper">
	<div class="content">

		<p>{{ 'PROCESSING_P1' | translate }}</p>

		<p>{{ 'PROCESSING_P2' | translate }}</p>

		<span class="hint"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ 'SEE_MORE' | translate }}</span>



		<div class="slider">
			<ul>
				<li>
					<div class="img-container"><img src="img/processing1.gif"></div>
				</li>
				<li>
					<div class="img-container"><img src="img/processing4.gif"></div>
				</li>
				<li>
					<div class="img-container"><img src="img/processing3.gif"></div>
				</li>
				<!-- <li>My last slide</li> -->
			</ul>
		</div>

	</div>
	</div>


</div>